# FILE: configs/rm_config.yaml
# ===================================================================
# [v1.1 - 目录重构版] 奖励模型 (Reward Model, RM) 专用配置文件
# ===================================================================

run_name: "rm-test-{timestamp}"
output_dir: "./runs/"
device: "cpu"

console:
  verbose: true

data:
  data_dir: "./data_pipeline/processed_data/"
  tokenizer_name: "./data_pipeline/processed_data/tinystories_project_vs4096.json"

model:
  dim: 128
  n_layers: 2
  n_heads: 4
  n_kv_heads: 2
  vocab_size: 4096
  max_seq_len: 256
  multiple_of: 32
  norm_eps: 1.0e-5
  rope_base: 10000
  dropout: 0.0

rm:
  load_from_checkpoint: "./runs/sft/full/sft-test-20251116-152948/checkpoints/ckpt_latest.pth"

training:
  batch_size: 2
  max_epochs: 4 # 减少 epoch 以加速测试
  learning_rate: 1.0e-5
  weight_decay: 0.0
  warmup_ratio: 0.1
  min_lr_ratio: 0.1

logging:
  log_interval: 1

# END OF FILE: configs/rm_config.yaml